<h1>Reminder Listing</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Reminder Listing</h2>
	</div>
		<div class="panel-body">
			<p>List of your Reminders</p>
		</div>

	<table class="table">
		<thead>
			<tr>
				<th>UserID</th>
				<th>Repo Name</th>
				<th>Issue Number</th>
				<th>Comment Number</th>
				<th>Scheduled Date</th>
				<th>Actioned Date</th>
				<th>State</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @reminderListing.each do |r| %>
				<tr>
					<td><%= r["UserID"] %></td>
					<td><%= r["FullRepoName"] %></td>
					<td><%= r["issueNumber"] %></td>
					<td><%= r["commentNumber"] %></td>
					<td><%= r["scheduledDate"] %></td>
					<td></td>
					<td><%= r["jobState"] %></td>
					<td>
						<div class="btn-group">
							 <button class="btn btn-default">Actions</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li class="disabled">
									<a href="#">Modify</a>
								</li>
								<li class="disabled">
									<a href="#">Delete</a>
								</li>
								<li class="disabled">
									<a href="#">Details</a>
								</li>
								<li class="disabled">
									<a href="#">View Reminder</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>				
			<% end %>
		</tbody>
	</table>

</div>

