<h1>Reminder Listing</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Reminder Listing</h2>
	</div>
		<div class="panel-body">
			<p>List of your Reminders</p>
		</div>

	<table class="table">
		<thead>
			<tr>
				<th>UserID</th>
				<th>Repo Name</th>
				<th>Issue Number</th>
				<th>Comment Number</th>
				<th>Schdduled Date</th>
				<th>Actioned Date</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<% @reminderListing.each do |r| %>
				<tr>
					<td><%= r["UserID"] %></td>
					<td><%= r["FullRepoName"] %></td>
					<td><%= r["issueNumber"] %></td>
					<td><%= r["commentNumber"] %></td>
					<td><%= r["scheduledDate"] %></td>
					<td></td>
					<td><%= r["jobState"] %></td>
				</tr>				
			<% end %>
		</tbody>
	</table>

</div>

