
<p>Hello <%= @fullname %></p>

<p><%= @username %></p>

<img src='http://gravatar.com/avatar/<%= @gravatar_id %>.png?r=PG&s=100' />
<p><%= @userID %></p>
<br>
<hr>



<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Personally Registered Repositories.
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							Repository
						</th>
						<th>
							Status
						</th>
						<th>
							Registered At
						</th>
						<th>
							Last Updated At
						</th>
					</tr>
				</thead>
				<tbody>
					<% @registeredRepoList.each do |r| %>
						<tr>
							<td><%= r["registered_repos"]["repo"] %></td>
							<td><%= r["registered_repos"]["active"] %></td>
							<td><%= r["registered_repos"]["created_at"] %></td>
							<td><%= r["registered_repos"]["updated_at"] %></td>
						</tr>				
					<% end %>
				</tbody>
			</table>
			<h3>
				Personally Registered WebHooks.
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							Repository
						</th>
						<th>
							Status
						</th>
						<th>
							Public?
						</th>
						<th>
							Registered At
						</th>
						<th>
							Last Updated At
						</th>
					</tr>
				</thead>
				<tbody>
					<% @registeredHookList.each do |r| %>
						<tr>
							<td><%= r["registered_hooks"]["repo"] %></td>
							<td><%= r["registered_hooks"]["active"] %></td>
							<td><%= r["registered_hooks"]["public"] %></td>
							<td><%= r["registered_hooks"]["created_at"] %></td>
							<td><%= r["registered_hooks"]["updated_at"] %></td>
						</tr>				
					<% end %>
				</tbody>
			</table>
			<h3>
				Public Listing of avaliable Repositories with GitHub-Reminder WebHooks.
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							Repository
						</th>
						<th>
							Status
						</th>
						<th>
							Public?
						</th>
						<th>
							Registered At
						</th>
						<th>
							Last Updated At
						</th>
					</tr>
				</thead>
				<tbody>
					<% @publicHookList.each do |r| %>
						<tr>
							<td><%= r["registered_hooks"]["repo"] %></td>
							<td><%= r["registered_hooks"]["active"] %></td>
							<td><%= r["registered_hooks"]["public"] %></td>
							<td><%= r["registered_hooks"]["created_at"] %></td>
							<td><%= r["registered_hooks"]["updated_at"] %></td>
						</tr>				
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>




<hr>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<p>Register WebHook</p>
			<form role="form", action="addwebhook", method="post">
				<div class="form-group">
					 <label for="hookusername">Username</label><input type="text" class="form-control" id="hookusername", name="post[hookusername]" />
				</div>
				<div class="form-group">
					 <label for="hookrepository">Repository</label><input type="text" class="form-control" id="hookrepository", name="post[hookrepository]" />
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-6 column">
			<p>Register Repository</p>
			<form role="form", action="registerrepo", method="post">
				<div class="form-group">
					 <label for="repousername">Username</label><input type="text" class="form-control" id="repousername", name="post[repousername]" />
				</div>
				<div class="form-group">
					 <label for="reporepository">Repository</label><input type="text" class="form-control" id="reporepository", name="post[reporepository]" />
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	<hr>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<p>Delete WebHook</p>
			<form role="form", action="deletewebhook", method="post">
				<div class="form-group">
					 <label for="removehookusername">Username</label><input type="text" class="form-control" id="removehookusername", name="post[removehookusername]" />
				</div>
				<div class="form-group">
					 <label for="removehookrepository">Repository</label><input type="text" class="form-control" id="removehookrepository", name="post[removehookrepository]" />
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-6 column">
			<p>Un-Register Repository</p>
			<form role="form", action="unregisterrepo", method="post">
				<div class="form-group">
					 <label for="removerepousername">Username</label><input type="text" class="form-control" id="removerepousername", name="post[removerepousername]" />
				</div>
				<div class="form-group">
					 <label for="removereporepository">Repository</label><input type="text" class="form-control" id="removereporepository", name="post[removereporepository]" />
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>